{% if load_static %}{{ form.media }}{% endif %}

<form id="fm{{ uid }}" method="post" enctype="multipart/form-data" style="height:95%">
    <div class="easyui-layout" style="width:100%;height:100%;">
        <div data-options="region:'west',split:true" title="Разделы" style="width:20%;">
            <div class="easyui-accordion" id="panel{{ uid }}">
                <div title="Комментарий" style="overflow:auto;padding:10px;">
                    <textarea class="easyui-textbox" label="Комментарий" name="comment" labelPosition="top"
                              multiline="true" id="comment{{ uid }}"
                              style="width:100%;height:300px">{{ inspection.comment }}</textarea>
                </div>
                <div title="Файлы" style="overflow:auto;padding:10px;"
                     data-options="
                    href:'{% url 'files_list' %}',
                    method:'post',
                    tools:[{
                    iconCls:'icon-reload',
                    handler: function(){refresh_accordion('#panel{{ uid }}', 'Файлы', '{% url 'files_list' %}')}}],
                    queryParams:{id:'{{ inspection.id }}', uid:'{{ uid }}'}">
                </div>
            </div>
            {% if user_has_perm_to_save %}
                <div style="text-align:center;padding:5px 0">
                    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" id="submit{{ uid }}"
                       onclick="update_violations_in_inspection('{{ uid }}');save('#fm{{ uid }}','{% url 'inspection_form_save' %}');"
                       style="width:150px;">Сохранить</a>
                </div>
            {% endif %}
        </div>


        <div data-options="region:'east',split:true" title="Дополнительно" style="width:20%;"></div>
        <div data-options="region:'center'">
            <div style="padding: 5px">


                {% csrf_token %}
                <input id="pk{{ uid }}" type="hidden" name="pk" value="{{ inspection.pk }}">
                {{ form.as_p }}


                <input class="easyui-numberbox" label="Количество нарушений" name="violations_quantity"
                       labelPosition="top" value="{{ violations_quantity }}" style="width:300px;"
                       data-options="editable:false">

                <div class="easyui-panel" id='violations_panel{{ uid }}' style="padding:5px;width:95%;height:450px"
                     title="Виды нарушений">
                    <table id="violations_tree{{ uid }}" class="easyui-treegrid" style="width:100%;height:400px">
                        <thead>
                        <tr>
                            <th data-options="field:'text',width:600,editor:'text',editor:'label'">Текст</th>
                            <th data-options="field:'count',width:70,align:'center',editor:'numberbox'">Кол-во</th>
                        </tr>
                        </thead>
                    </table>
                    <div id="violations{{ uid }}">

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $('#violations_tree{{ uid }}').treegrid({
        idField: 'id',
        treeField: 'text',
        url: "{% url 'violation_in_inspection_json_list' inspection.id %}",
        onClickCell: function (field, row) {
            $('#violations_tree{{ uid }}').treegrid('beginEdit', row.id);
        }

    });
</script>


