{% extends "form_layout.html" %}

{% block content %}
    <div style="padding: 5px">
        {% csrf_token %}
        <input id="pk{{ uid }}" type="hidden" name="pk" value="{{ document.pk }}">
        {{ form.as_p }}
        <input class="easyui-numberbox" label="Количество нарушений" name="violations_quantity"
               labelPosition="top" value="{{ violations_quantity }}" style="width:300px;"
               data-options="editable:false">

        <div class="easyui-panel" id='violations_panel{{ uid }}' style="padding:5px;width:95%;height:450px"
             title="Виды нарушений">
            <table id="violations_tree{{ uid }}" class="easyui-treegrid" style="width:100%;height:400px">
                <thead>
                <tr>
                    <th data-options="field:'text',width:600,editor:'text',editor:'label'">Текст</th>
                    <th data-options="field:'count',width:70,align:'center',editor:'numberbox'">Кол-во</th>
                </tr>
                </thead>
            </table>
            <div id="violations{{ uid }}">
            </div>
        </div>
    </div>
{% endblock %}

{% block save %}
    {% if user_has_perm_to_save %}
        <div style="text-align:center;padding:5px 0">
            <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" id="submit{{ uid }}"
               onclick="update_violations_in_inspection('{{ uid }}');save('#fm{{ uid }}','{% url 'inspection_form_save' %}');"
               style="width:150px;">Сохранить</a>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <div class="hide" id="date_begin_buttons{{ uid }}">
        <a href="javascript:void(0)" class="easyui-linkbutton c6"
           onclick="calculate_date('#pk{{ uid }} ~ p #id_doc_date', '#pk{{ uid }} ~ p #id_date_begin', '0','{% url 'calculate_date' %}')">+0
            дней</a>
        <a href="javascript:void(0)" class="easyui-linkbutton c6"
           onclick="calculate_date('#pk{{ uid }} ~ p #id_doc_date', '#pk{{ uid }} ~ p #id_date_begin', '3','{% url 'calculate_date' %}')">+3
            дня</a>
        <a href="javascript:void(0)" class="easyui-linkbutton c6"
           onclick="calculate_date('#pk{{ uid }} ~ p #id_doc_date', '#pk{{ uid }} ~ p #id_date_begin', '10','{% url 'calculate_date' %}')">+10
            дней</a>
    </div>
    <div class="hide" id="date_end_buttons{{ uid }}">
        <a href="javascript:void(0)" class="easyui-linkbutton c6"
           onclick="calculate_date('#pk{{ uid }} ~ p #id_date_begin', '#pk{{ uid }} ~ p #id_date_end', '19','{% url 'calculate_date' %}')">+20
            дней</a>
    </div>

    <script>
        $('#pk{{ uid }} ~ p #id_date_begin').parent().append($("#date_begin_buttons{{ uid }}").html());
        $('#pk{{ uid }} ~ p #id_date_end').parent().append($("#date_end_buttons{{ uid }}").html());
        $('#violations_tree{{ uid }}').treegrid({
            idField: 'id',
            treeField: 'text',
            url: "{% url 'violation_in_inspection_json_list' document.id %}",
            onClickCell: function (field, row) {
                $('#violations_tree{{ uid }}').treegrid('beginEdit', row.id);
            }

        });
    </script>
{% endblock %}