{% extends "form_layout.html" %}
{% block content %}
    <div style="padding: 5px">


                {% csrf_token %}
                <input id="pk{{ uid }}" type="hidden" name="pk" value="{{ document.pk }}">
                {{ form.as_p }}

                <div class="easyui-panel" style="padding:5px;width:100%;height:450px" title="Виды нарушений">
                    <table id="violations_tree{{ uid }}" class="easyui-treegrid" style="width:98%;height:400px">
                        <thead>
                        <tr>
                            <th data-options="field:'text',width:600,editor:'text',editor:'label'">Текст</th>
                            <th data-options="field:'count_to_remove',width:188,align:'center',editor:'numberbox'">
                                Устранить, кол-во
                            </th>
                            <th data-options="field:'count_of_removed',width:180,align:'center',editor:'numberbox'">
                                Устранено, кол-во
                            </th>
                        </tr>
                        </thead>
                    </table>
                    <div id="violations{{ uid }}"></div>
                </div>

            </div>
{% endblock %}

{% block save %}
{% if user_has_perm_to_save %}
                <div style="text-align:center;padding:5px 0">
                    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" id="submit{{ uid }}"
                       onclick="update_violations_in_precept('{{ uid }}');save('#fm{{ uid }}','{% url 'precept_form_save' %}');"
                       style="width:150px;">Сохранить</a>
                </div>
            {% endif %}
{% endblock %}

{% block javascript %}
   <script>
    $('#violations_tree{{ uid }}').treegrid({
        idField: 'id',
        treeField: 'text',
        {% if is_new_instance %}
            url: "{% url 'violation_in_precept_json_list_new' document.parent.id %}",
        {% else %}
            url: "{% url 'violation_in_precept_json_list' document.id %}",
        {% endif %}
        onClickCell: function (field, row) {
            $('#violations_tree{{ uid }}').treegrid('beginEdit', row.id);
            let count_to_remove_editor = $('#violations_tree{{ uid }}').treegrid('getEditor', {
                id: row.id,
                field: 'count_to_remove'
            });
            let count_of_removed_editor = $('#violations_tree{{ uid }}').treegrid('getEditor', {
                id: row.id,
                field: 'count_of_removed'
            });
            let max = 0;
            if (!isNaN(parseInt(row['count_to_remove']))) {
                max = parseInt(row['count_to_remove']);
            }
            count_of_removed_editor.target.numberbox({max: max});
            max = 0;
            if (!isNaN(parseInt(row['count_to_remove_max']))) {
                max = parseInt(row['count_to_remove_max']);
            }
            count_to_remove_editor.target.numberbox({
                max: max,
                onChange: function (newValue, oldValue) {
                    let max1 = 0;
                    if (!isNaN(parseInt(newValue))) {
                        max1 = parseInt(newValue);
                    }
                    count_of_removed_editor.target.numberbox({max: max1});
                }
            });
        }

    });
</script>
{% endblock %}
