{% extends "form_layout.html" %}

{% block content %}
    <div style="padding: 5px">
        {% csrf_token %}
        <input id="pk{{ uid }}" type="hidden" name="pk" value="{{ document.pk }}">
        {% if document.ad_stage %}
        Закончилось:<label>{{ document.ad_stage.text }}</label>
        {% endif %}

        {{ form.as_p }}

    </div>
{% endblock %}

{% block save %}
    {% if user_has_perm_to_save %}
        <div style="text-align:center;padding:5px 0">
            <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok"
               onclick="save('#fm{{ uid }}', '{% url 'ad_record_form_save' %}');"
               style="width:150px;">Сохранить</a>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <div class="hide" id="adjudication_date_button{{ uid }}">
        <a href="javascript:void(0)" class="easyui-linkbutton c6"
           onclick="calculate_date('#pk{{ uid }} ~ p #id_adjudication_date', '#pk{{ uid }} ~ p #id_adjudication_start_date', '10','{% url 'calculate_date' %}')">+10
            дней</a>
    </div>
    <script>
        $('#pk{{ uid }} ~ p #id_adjudication_start_date').parent().append($("#adjudication_date_button{{ uid }}").html());
    </script>
{% endblock %}