<div style="margin-bottom:20px" id="addresses{{ uid }}">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-add"
       onclick="openAddressDialog('{{ uid }}')" id="add_address('{{ uid }}')"
       style="width:90px">Добавить</a>
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-remove"
       onclick="removeAddress('{{ uid }}')" id="remove_address('{{ uid }}')"
       style="width:90px">Удалить</a>
    <div id="address_list{{ uid }}" name="address_list" class="easyui-datalist" title="Адреса"
         style="width:100%;height:150px">
    </div>
</div>
<script>

    $('#address_list{{ uid }}').datalist({
        lines: true,
    });

    function updateAddressList(uid, id_list) {
        $.post('{% url 'addr_from_id_list' %}', {'data': id_list},
            function (data) {
                let addresses = $('#addresses' + uid);
                let addr_list = $('#address_list' + uid);
                data['result'].forEach(function (item, i, arr) {
                    let vbItem = $('<input type="hidden" value="' + item[0] + '" name="{{ widget.name }}" id="addr{{ uid }}' + item[0] + '"/>');
                    addresses.append(vbItem);
                    addr_list.datalist('appendRow', $.extend(true, {text: item[1], id: item[0]}, ""));
                });
            });
    }

    function addAddress(uid, name = 'address_list') {
        let row = $('#addr_dg' + uid).datalist('getSelected');
        let addr_id = row['id'];
        let house = $('#house_number' + uid).textbox('getValue');
        let addr = row['city'] + ' ' + row['street'] + ' ' + house;
        $.post('{% url 'get_house_id' %}', {'addr_id': addr_id, 'house_number': house},
            function (data) {
                let house_id = data['result'];
                console.log(house_id);
                let vbItem = $('<input type="hidden" value="' + house_id + '" name="{{ widget.name }}" id="addr{{ uid }}' + house_id + '"/>');
                $('#addreses' + uid).append(vbItem);
                $('#address_list' + uid).datalist('appendRow', $.extend(true, {text: addr, id: house_id}, ""));
            });
    }

    function removeAddress(uid) {
        let addr_list = $('#address_list' + uid);
        let row = addr_list.datalist('getSelected');
        let addr_id = row.id;
        try {
            let index = addr_list.datalist('getRowIndex', row);
            $('#address_list' + uid).datalist('deleteRow', index);
        }
        catch (e) {
        }
        $('#addr' + uid + addr_id).remove();
    }

    function openAddressDialog(uid, name = 'address_list') {
        $.post('/dict/addr_select/', {'uid': uid, 'name': name},
            function (data) {
                $('#addresses' + uid).append(data);
                $('#address_dialog' + uid).dialog('open');
                $('#address_dialog' + uid).dialog('refresh', '/dict/addr_table/?uid=' + uid);

            });
    }

    let address_list{{ uid }} = [{% for house in widget.value %}{{ house }}, {% endfor %}];
    updateAddressList('{{ uid }}', address_list{{ uid }});
</script>