<div style="padding:5px;">
    {% if field.name == 'violations' %}
        <ul id="violations_tree{{ uid }}" class="easyui-tree"
            data-options="animate:true,checkbox:true,lines:true">

        </ul>
        <div id="violations{{ uid }}">
        </div>
        <script>
            $('#violations_tree{{ uid }}').tree({
                url: "{% url 'violation_json_list' None %}",
                onCheck: function (node, checked) {
                    $('#violations{{ uid }}').empty()
                    var nodes = $('#violations_tree{{ uid }}').tree('getChecked');
                    var s = '';
                    for (var i = 0; i < nodes.length; i++) {
                        if (s !== '') s += ',';
                        $('#violations{{ uid }}').append('<input type="hidden" name="disposal:violations:contains" value="' + nodes[i].id + '"/>')
                    }

                }
            });
        </script>
    {% endif %}

    {% if field.name == 'houses' %}
        <div style="margin-bottom:20px" id="addreses{{ uid }}">
            <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-add"
               onclick="openAddressDialog('{{ uid }}', '{{ model }}:houses:contains')"
               style="width:90px">Добавить</a>
            <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-remove"
               onclick="removeAddress('{{ uid }}')"
               style="width:90px">Удалить</a>
            <div id="address_list{{ uid }}" name="address_list" class="easyui-datalist" title="Адреса"
                 style="width:100%;height:100px">
            </div>
        </div>
        <script>

            $('#address_list{{ uid }}').datalist({
                lines: true,
            });
        </script>
    {% endif %}


    {% if field_class == "<class 'django.db.models.fields.DateField'>" %}
        <input id="date_begin{{ field_name }}{{ uid }}" label="Период от:"
               name="{{ model }}:{{ field_name }}:begin"
               labelPosition="top" style="width:300px;" value="">
        <input id="date_end{{ field_name }}{{ uid }}" label="до:"
               name="{{ model }}:{{ field_name }}:end"
               labelPosition="top" style="width:300px;" value="">
        <script>
            $('#date_begin{{ field_name }}{{ uid }}').datebox({});
            $('#date_end{{ field_name }}{{ uid }}').datebox({});
        </script>
    {% endif %}
    {% if field_class == "<class 'django.db.models.fields.CharField'>" or field_class == "<class 'django.db.models.fields.TextField'>" %}
        <select id="lookuptype{{ field_name }}{{ uid }}" class="easyui-combobox">
            <option value="exact">Равен</option>
            <option value="icontains">Содержит</option>
        </select>
        <input id="field{{ field_name }}{{ uid }}" class="easyui-combobox" label="Совпадает"
               name="{{ model }}:{{ field_name }}:exact" labelPosition="top"
               style="width:100%;" value="">

        <script>
            $('#lookuptype{{ field_name }}{{ uid }}').combobox({
                onChange: function (newValue, oldValue) {
                    $("#field{{ field_name }}{{ uid }}+span>input+input").attr("name", '{{ model }}:{{ field_name }}:' + newValue)
                }
            })
            $('#field{{ field_name }}{{ uid }}').combobox({
                queryParams: {'app': '{{ app }}', 'model': '{{ model }}', 'field': '{{ field_name }}',},
                method: 'get',
                mode: 'remote',
                url: '{% url 'generic_json_list' %}',
                valueField: 'text',
                textField: 'text'
            });
        </script>

    {% endif %}

    {% if field_class == "<class 'django.db.models.fields.IntegerField'>" %}
        <input id="begin{{ field_name }}{{ uid }}" label="Интервал от:"
               name="{{ model }}:{{ field_name }}:begin"
               labelPosition="top" style="width:300px;" value="">
        <input id="end{{ field_name }}{{ uid }}" label="до:"
               name="{{ model }}:{{ field_name }}:end"
               labelPosition="top" style="width:300px;" value="">
        <script>
            $('#begin{{ field_name }}{{ uid }}').numberbox({});
            $('#end{{ field_name }}{{ uid }}').numberbox({});
        </script>
    {% endif %}

    {% if field_class == "<class 'django.db.models.base.ModelBase'>" %}
        <div id="panel_{{ field_name }}{{ uid }}"/>
        <script>
            $('#panel_{{ field_name }}{{ uid }}').panel({
                href: '{% url 'filter_form' %}?uid={{ uid }}&app={{ app }}&model={{ field_name }}'
            });
        </script>
    {% endif %}
    {% if field_class == "<class 'mptt.models.MPTTModelBase'>" %}
        <div id="panel_{{ field_name }}{{ uid }}"/>
        <script>
            $('#panel_{{ field_name }}{{ uid }}').panel({
                href: '{% url 'filter_form' %}?uid={{ uid }}&app={{ app }}&model={{ field_name }}'
            });
        </script>
    {% endif %}

</div>