<div class="easyui-panel" style="padding:5px">

    {% if document.doc_type == 'проверка' %}
        <a href="javascript:void(0)" class="tree-doc-link-button easyui-linkbutton"
           id="add_precept{{ uid }}"
           onclick="addTab('#tt', 'Предписание',
                   '{% url 'new_precept_form' id=document.pk %}')">Добавить предписание</a>
    {% endif %}
    {% if document.doc_type == 'предписание' %}
              <a href="javascript:void(0)" class="tree-doc-link-button easyui-linkbutton"
               id="add_repeated{{ uid }}"
               onclick="addTab('#tt', 'Повторная проверка', '{% url 'inspection_repeat' id=document.id %}')">Добавить
                проверку предписания</a>
    {% endif %}
    {% if document.doc_type == 'предписание' or document.doc_type == 'проверка' %}

        {% if user_has_perm_to_add_adrecord %}
            <a href="javascript:void(0)" class="easyui-linkbutton tree-doc-link-button"
               id="add_adrecord_court{{ uid }}"
               onclick="addTab('#tt', 'Административное дело',
                       '{% url 'new_ad_record_form' ad_type=0 parent_id=document.id stage_id=0 %}')">Добавить адм. дело,
                М/C</a>
            <a href="javascript:void(0)" class="easyui-linkbutton tree-doc-link-button"
               id="add_adrecord_iggn{{ uid }}"
               onclick="addTab('#tt', 'Административное дело',
                       '{% url 'new_ad_record_form' ad_type=1 parent_id=document.id stage_id=0 %}')">Добавить адм. дело,
                ИГЖН</a>
        {% endif %}
    {% endif %}
    {% if document.doc_type == 'административное дело' and ad_stage_list and not document.adrecord.has_appeal %}
        <div class="easyui-panel" style="margin: 5px" id="new_ad_stage_panel{{ uid }}">
            <a href="#" class="easyui-menubutton" data-options="menu:'#new_ad_stage{{ uid }}',iconCls:'icon-edit'">Добавить
                стадию АД</a>
        </div>
        <div id="new_ad_stage{{ uid }}">
            {% for stage in ad_stage_list %}
                <div onclick="$('#new_ad_stage_panel{{ uid }}').hide();
                        addTab('#tt', '{{ stage.short_text }}',
                        '{% url 'new_ad_record_form' ad_type=0 parent_id=document.id stage_id=stage.id %}')">{{ stage.short_text }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <ul id="documents_tree{{ uid }}" class="easyui-tree"
        data-options="animate:true,lines:true">

    </ul>
</div>
<script type="text/javascript">
    $('#documents_tree{{ uid }}').tree({
        url: "{% url 'document_tree_json' document.id %}",
        onDblClick: function (node) {
            if (node.doc_type === 'проверка') {
                addTab('#tt', 'Распоряжение № ' + node.doc_number, '/insp/inspection_form/' + node.id + '/');
            }
            else if (node.doc_type === 'предписание') {
                addTab('#tt', 'Предписание № ' + node.doc_number, '/insp/precept_form/' + node.id + '/');
            }
            else if (node.doc_type === 'административное дело') {
                addTab('#tt', 'Административное дело № ' + node.doc_number, '/ad/ad_record_form/' + node.id + '/');
            }
            else if (node.doc_type === 'исполнительное дело') {
                addTab('#tt', 'Исполнительное дело № ' + node.doc_number, '/ad/execution_form/' + node.id + '/');
            }
        }
    });
</script>